<div class="home-page-cnt">
<div class="home-page-main-block">
  <h2 class="home-page-title">SpaceX Ships</h2>
  <div>
    <div *ngFor="
          let post of POSTS | search : filter
            | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index">
      <div class="home-page-sail-title">
    <p class="sail-title"
       [queryParams]="{ id: post.id }"
       [routerLink]="['/detail-page']">{{post.name}}</p>
    <img alt="icon" src="assets/img/icon.svg">
      </div>
      <div class="home-page-sail-info">
      <p>тип</p>
      <p class="sail-info-link">{{post.type}}</p>
      <p>порт</p>
      <p class="sail-info-link">{{post.port}}</p>
      </div>
    </div>
  </div>
  <pagination-controls
    previousLabel=""
    nextLabel=""
    (pageChange)="onTableDataChange($event)"
  >
  </pagination-controls>
</div>
<div class="home-page-nav-block">
  <p>Фильтры</p>
  <input class="input-name-filter" [(ngModel)]="filter" (ngModelChange)="filterByName()" placeholder="Название">
  <p class="search-point-port">Порт</p>
  <p class="search-point-number">Выбраны:</p>
  <div *ngFor="let item of ports; let i = index"  class="types-input">
      <input id="{{i}}" (click)="filterPoint($event)" type="checkbox" >{{item}}
  </div>
  <p class="search-point-type">Типы</p>
  <div *ngFor="let item of types; let i = index" >
    <input id="{{i}}-radio" (click)="filterTypes($event)" value="{{item}}" name="search-point-type" type="radio" >{{item}}
  </div>
</div>
</div>


